<!DOCTYPE html>
<html lang="en">
    <head>
		<Title>RealHome</Title>
		<meta charset="UTF-8">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/responsive.css">
		<link rel="stylesheet" type="text/css" href="styles/slick.css">
		<link rel="stylesheet" type="text/css" href="styles/slick-theme.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
		<link rel="stylesheet" type="text/css" href="./styles/lightgallery.css">

		<link rel="stylesheet" href="./element/index.css">
    </head>
    <body>
		<div class="header">
			<div class="container w--100 mg-top">
				<div class="d-flex">
					<div class="col-md-6 col-10 d-flex align-center">
						<a href="#">
								<svg style="width: 50px; height: 50px" id="OBJECTS" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.04 93.74"><defs><style>.cls-1{fill:#2a002e;}.cls-2{fill:#3a0244;}</style></defs><title>Logo (2)</title><rect class="cls-1" x="39.45" y="59.66" width="26.73" height="34.08" rx="3.26"/><path class="cls-2" d="M330.93,143.81a15,15,0,0,0-21,.17l-42.62,42.63v40.65a5.9,5.9,0,0,0,5.9,5.9h7a5.9,5.9,0,0,0,5.9-5.9V197l49.07-49.08Z" transform="translate(-267.29 -139.42)"/><path class="cls-1" d="M298.05,155.85c9.9-5.54,24.14,4.24,24.14,4.24l17.59,15.42a18,18,0,0,0,24.55-.8h0l-33.41-31.25a15,15,0,0,0-20.84.35Z" transform="translate(-267.29 -139.42)"/></svg>
						</a>
							<div class="search_box">
							<input class="text" type="text" placeholder="Tìm kiếm">
							<button class="btn-search">
								<i class="fas fa-search white"></i>
							</button>
						</div>												
					</div>			
					<div class="col-md-6 col-2 d-inline-flex justify-content-end align-center">	
						<a class="menu-mobile open"><i class="fas fa-bars"></i></a>	
						<ul class="menu">
							<li class="menu-mobile"><i class="fas fa-times close-items"></i></li>
							<li class="items bordermenu"><a href="#">Trở thành chủ nhà</a></li>
							<li class="items"><a href="#">Đăng nhập</a></li>
							<li class="items"><a href="#">Đăng kí</a></li>
						</ul>						
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-1 mb-30">
			<div class="main">
                <img class="img" src="./images/uudai/event_1_1571832331.jpg">
            </div>
		</div>
	 
		<div class="container d-flex">
			<div class="col-12">
				<div class="room-name textcenter mb-24">Rủ thật đông - Đi không mất phí</div>

				<div class="room-intro mb-30">
					<p><span>Nhận ngay $25 và hơn thế nữa khi mời bạn bè của mình cùng tham gia chương trình “Rủ Bạn Thật Đông, Đi Không Mất Phí” của Luxstay:</span></p>
					<p><span>
                        Người được giới thiệu sẽ nhận được $15 giảm trực tiếp sau khi đăng ký tài khoản thành công và đặt phòng (áp dụng với booking trên $30).
                    </span></p>
					<p><span>
                        Người giới thiệu nhận 10$ vào ví Luxstay sau khi người được giới thiệu đăng ký thành viên và hoàn tất đặt phòng và check out thành công.
                    </span></p>
					<p><span>Lưu ý :</span></p>
					<p><span>- Người dùng Luxstay sẽ không bị giới hạn số lần chia sẻ link giới thiệu.
                    </span></p>
					<p><span>- Người được giới thiệu phải là người dùng mới trên Luxstay.
                    </span></p>
					<p><span>Ví dụ: nếu giới thiệu được 10 người có đặt phòng thành công, người dùng sẽ nhận được $100 vào ví Luxstay.
                    </span></p>
					<p><strong>Cách thức tham gia và nhận ưu đãi:
                    </strong> </p>
                    <p><strong><i>Người giới thiệu</i>
                    </strong> </p>
                    <p>
                        <strong>Bước 1:</strong> Click vào “Mời bạn bè” hoặc <a href="#">TẠI ĐÂY</a>
                    </p>
                    <p>
                        <strong>Bước 2:</strong> Sao chép và chia sẻ link đường dẫn đến bạn bè.
                    </p>
                    <p><strong><i>Người được giới thiệu</i>
                    </strong> </p>
                    <p>
                        <strong>Bước 1:</strong> Nhận link chia sẻ và click ngay vào “Đăng ký thành viên để nhận quà tặng từ Realhome”
                    </p>
                    <p>
                        <strong>Bước 2:</strong> Đăng ký và nhận ngay $15 cho chuyến đi đầu tiên của mình. (Nếu bạn đã có tài khoản trên Luxstay thì bạn vẫn nhận được $15 vì đã tham gia chương trình cùng Realhome)
                    </p>
				</div>

				
		    </div>

		</div>
			
		<div class="container">
				<section>
						<div class="title-section">
							<div class="title">
								<h2>Phù hợp dành cho bạn</h2>									
							</div>								
						</div>
						<div class="slide-5 room">																
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/Rivergate-Residence-Apartment-9.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ</div>
										<div class="room-title mb-2p">
											Home Sweet Home Landmark81
										</div>
		
		
										<div class="room mb-2p"> 
											2 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>947,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_12979_316_1564045930.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">BIỆT THỰ</div>
										<div class="room-title mb-2p">						
											FYSO HomeStay
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>450,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>								
									</a>							
							</div>
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_20736_6_1550472569.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">BIỆT THỰ</div>
										<div class="room-title mb-2p">
											Hazel's House
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>600,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 3, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_20916_182_1570596961.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ CHUNG CƯ</div>
										<div class="room-title mb-2p">						
											Masteri Thảo Điền
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 2 phòng ngủ - 2 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>1,229,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 2, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_23249_4_1554775567.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">NHÀ RIÊNG</div>
										<div class="room-title mb-2p">
											Private room
										</div>
		
		
										<div class="room mb-2p"> 
											8 khách - 3 phòng ngủ - 3 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>350,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_27136_39_1563268810.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">NHÀ RIÊNG</div>
										<div class="room-title mb-2p">						
											Staycious Home
										</div>
		
		
										<div class="room mb-2p"> 
											2 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>400,000</span> VNĐ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 1, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_16888_74_1552639581.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ - STUDIO</div>
										<div class="room-title mb-2p">
											Soleil SaiGon
										</div>
		
		
										<div class="room mb-2p"> 
											3 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>900,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 4, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_26457_15_1560914124.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ</div>
										<div class="room-title mb-2p">						
											99 Bùi Viện
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>422,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 1, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	 
						</div>															
							
				</section>	
		</div>

		<div class="footer mt-120">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-6 room mb-24">
						<div class="widget">
							<div class="widget-title">TOP homestay được yêu thích</div>
							<ul class="widget-menu widget-text">
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Không gian ưu thích</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">Căn hộ</a>
									</li>
									<li>
										<a href="#">Biệt thự</a>
									</li>
									<li>
										<a href="#">Nhà riêng</a>
									</li>
									<li>
										<a href="#">Studio</a>
									</li>
								</ul>
							</div>
						</div> 	
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Về Chúng tôi</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">Giới thiệu</a>
									</li>
									<li>
										<a href="#">Chính sách và điều khoản sử dụng</a>
									</li>
									<li>
										<a href="#">Bảo mật</a>
									</li>
								</ul>
							</div>
						</div> 	
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Đăng kí nhận tin</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">
											<i class="fab fa-facebook-square"></i>facebook.com/realhome
										</a>
									</li>
									<li><a href="#">
										<i class="fab fa-instagram"></i>instagram.com/realhome
									</a>     
									</li>
									<li> <a href="#">
										<i class="fas fa-phone"></i>1800 9696
										</a>      
									</li>
									<li><a href="#">
										<i class="fas fa-envelope"></i> lh.realhome@gmail.com
									</a> 
									</li>
								</ul>							
							</div>
						</div> 	
				</div>									
			</div>	
			<div class="footer-bottom">			
				<div class="title">© 2019 RealHome. Toàn bộ bản quyền thuộc RealHome</div>
			</div>		
		</div>

			  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			  
			   <!-- import Vue before Element -->
			   <script type="text/javascript" src="./element/vue.js"></script>
			   <script type="text/javascript" src="./element/index.js"></script>
			   <script type="text/javascript" src="./js/vi.js"></script>
		
			  <script type="text/javascript" src="./js/slick.min.js"></script>
			  <script type="text/javascript" src="./js/lightgallery-all.min.js"></script>
			  <script type="text/javascript" src="./js/custom.js"></script>
 
			  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCObmUDNsw4qthZE2wu2uCtNn776xy197U&callback=initMap" type="text/javascript"></script>
    </body>
</html>
