<!DOCTYPE html>
<html lang="en">
    <head>
		<Title>RealHome</Title>
		<meta charset="UTF-8">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/responsive.css">
		<link rel="stylesheet" type="text/css" href="styles/slick.css">
		<link rel="stylesheet" type="text/css" href="styles/slick-theme.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
		<link rel="stylesheet" type="text/css" href="./styles/lightgallery.css">

		<link rel="stylesheet" href="./element/index.css">
    </head>
    <body>
		<div class="header">
			<div class="container w--100 mg-top">
				<div class="d-flex">
					<div class="col-md-6 col-10 d-flex align-center">
						<a href="#">
								<svg style="width: 50px; height: 50px" id="OBJECTS" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.04 93.74"><defs><style>.cls-1{fill:#2a002e;}.cls-2{fill:#3a0244;}</style></defs><title>Logo (2)</title><rect class="cls-1" x="39.45" y="59.66" width="26.73" height="34.08" rx="3.26"/><path class="cls-2" d="M330.93,143.81a15,15,0,0,0-21,.17l-42.62,42.63v40.65a5.9,5.9,0,0,0,5.9,5.9h7a5.9,5.9,0,0,0,5.9-5.9V197l49.07-49.08Z" transform="translate(-267.29 -139.42)"/><path class="cls-1" d="M298.05,155.85c9.9-5.54,24.14,4.24,24.14,4.24l17.59,15.42a18,18,0,0,0,24.55-.8h0l-33.41-31.25a15,15,0,0,0-20.84.35Z" transform="translate(-267.29 -139.42)"/></svg>
						</a>
							<div class="search_box">
							<input class="text" type="text" placeholder="Tìm kiếm">
							<button class="btn-search">
								<i class="fas fa-search white"></i>
							</button>
						</div>												
					</div>			
					<div class="col-md-6 col-2 d-inline-flex justify-content-end align-center">	
						<a class="menu-mobile open"><i class="fas fa-bars"></i></a>	
						<ul class="menu">
							<li class="menu-mobile"><i class="fas fa-times close-items"></i></li>
							<li class="items bordermenu"><a href="#">Trở thành chủ nhà</a></li>
							<li class="items"><a href="#">Đăng nhập</a></li>
							<li class="items"><a href="#">Đăng kí</a></li>
						</ul>						
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-1">
				<div class="room-123 slide-room">
						<a href="images/PVL/room_23249_17_1565834849.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_17_1565834849.jpg">
						</a>	
						<a href="images/PVL/room_23249_18_1565834850.jpg" class="light-link">
							<img class="imgh"  src="images/PVL/room_23249_18_1565834850.jpg">
						</a>
						<a href="images/PVL/room_23249_19_1565834851.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_19_1565834851.jpg">
						</a>

						<a href="images/PVL/room_23249_20_1565834853.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_20_1565834853.jpg">
						</a> 
						<a href="images/PVL/room_23249_23_1565834862.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_23_1565834862.jpg">
						</a>
						<a href="images/PVL/room_23249_25_1565834864.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_25_1565834864.jpg">
						</a>
						<a href="images/PVL/room_23249_2_1554775564.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_2_1554775564.jpg">
						</a>
						<a href="images/PVL/room_23249_3_1554775566.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_3_1554775566.jpg">
						</a>
						<a href="images/PVL/room_23249_4_1554775567.jpg" class="light-link">
							<img class="imgh" src="images/PVL/room_23249_4_1554775567.jpg">
						</a>
			  </div>
		</div>
	 
		<div class="container d-flex">
			<div class="col-lg-8 col-12">
				<div class="room-name mb-24">PVL service apartment near Thảo Điền - Sunshine With Bacony - 301</div>
				<div class="room-location"> <i class="fas fa-map-marker-alt"></i>
					Quận 2, Hồ Chí Minh, Vietnam </div>
				<div class="room-location"> <i class="fas fa-building"></i>
					Căn hộ · 25 m2</div>
				<div class="room-sub mb-30">
					<div class="d-none" id="maxperson">5</div>
					Phòng riêng · 1 phòng tắm · 1 giường · 1 phòng ngủ · 2 khách (tối đa 2 khách)
				</div>

				<div class="room-intro mb-30">
					<p><span>Lý tưởng cho gia đình, cặp vợ chồng và du khách độc thân. Tiện nghi bổ sung có sẵn tại </span><strong>PVL service apartment near Thảo Điền</strong>-Modern Studio bacony-302
					<span>: Bàn, bếp có đủ dụng cụ nấu, Phòng không hút thuốc, Dịch vụ phòng, Máy nước nóng, Khu vực hút thuốc, Lễ tân. Mua sắm và giải trí gần đó:</span></p>
					<p><span>- Somerset Vista (850m)</span></p>
					<p><span>- Gaxeo ChickenBeer và BBQ (850m)</span></p>
					<p><span>- Cà phê Starbucks (850m)</span></p>
					<p><span>- Trung tâm mua sắm Parkson Cantavil và Lotte Cinema Cantavil (1,9 Km)</span></p>
					<p><span>- Đường Thảo Điền (2,8 km ).</span></p>
					<p><span>Phòng chứa tối đa cho 2 người lớn và 2 trẻ em dưới 6 tuổi. Chúng tôi có xe máy cho thuê với giá rất rẻ. </span>Sân Thượng rộng thích hợp tập Yoga.</p>
					<p><strong>PVL Apartment</strong> là căn hộ dịch vụ gần sông Sài Gòn đối diện Rạch Chiếc - Trang thiết bị phòng cao cấp với nhà tắm riêng sạch đẹp có hệ thống nước nóng năng lượng mặt trời hiện đại và thiết bị vệ sinh cao cấp. Trong phòng có smart Tivi, Wifi và bếp với đủ dụng cụ nấu cho bạn bữa ăn ngon đúng vị.</p>
				</div>

				<div class="room-items mb-30">
					<div class="title mb-24">Tiện nghi</div>
					<div class="item-service mb-12 row">
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
						<div class="w-100"></div>
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
						<div class="w-100"></div>
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
						<div class="col-6 mb-12"><i class="flaticon-no-smoking mr-10"></i>Không hút thuốc</div>
					</div>
					<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#Service">Xem thêm các tiện nghi khác</button>
				</div>

				<div class="room-items">
						<div class="title mb-24">Giá phòng</div>
						<table class="table table-striped">
							<tr>
								<td style="width:80%">Thứ 2 đến Thứ 5</td>							
								<td>945,000đ</td>
							</tr>
							<tr>
								<td>Thứ 6 đến Chủ nhật và các ngày lễ</td>
								<td>940,000đ</td>
							</tr>
							<tr>								
								<td>Phí khách tăng thêm</td>
								<td>150,000đ</td>
							</tr>		
							<tr>								
								<td>Số đêm tối thiểu</td>
								<td>1 đêm</td>
							</tr>				
						</table>
				</div>

				<div class="room-items">
					<div class="title mb-12">Nội quy và chính sách về chỗ ở</div>
					<div class="rule mb-30">
						<div class="title-rule mb-12">Chính sách hủy phòng</div>
						<div class="mb-30">
							Miễn phí hủy trong 48 giờ sau khi đặt. Nếu sau đó hủy đặt phòng muộn nhất trước khi nhận phòng 1 ngày để được hoàn 50% tiền đặt phòng (trừ phí dịch vụ).
						</div>
						<div class="ruler-content">
							<ul class="timeline">
								<li>
									<p class="timeline-title">Đặt phòng thành công</p>
									<p>Hoàn tiền 100%</p>
								</li>
								<li>
									<p class="timeline-title">Sau 48h</p>
									<p>Hoàn tiền 50% (trừ phí dịch vụ)</p>		
								</li>
								<li>
									<p class="timeline-title">1 ngày trước khi nhận phòng</p>
									<p>Không hoàn tiền</p>
								</li>
								<li>
									<p class="timeline-title">Nhận phòng</p>
								</li>
							</ul>
							</div>
					</div>

					<div class="rule mb-30">
						<div class="title-rule mb-12">Lưu ý đặc biệt</div>
						<div>
							<p><span>- Somerset Vista (850m)</span></p>
							<p><span>- Gaxeo ChickenBeer và BBQ (850m)</span></p>
							<p><span>- Cà phê Starbucks (850m)</span></p>
							<p><span>- Trung tâm mua sắm Parkson Cantavil và Lotte Cinema Cantavil (1,9 Km)</span></p>
							<p><span>- Đường Thảo Điền (2,8 km ).</span></p>
							<p><span>Phòng chứa tối đa cho 2 người lớn và 2 trẻ em dưới 6 tuổi. Chúng tôi có xe máy cho thuê với giá rất rẻ. </span>Sân Thượng rộng thích hợp tập Yoga.</p>
						</div>
					</div>

					<div class="rule mb-30">
							<div class="title-rule  mb-12">Thời gian nhận trả phòng</div>
							<div>
								<table class="table table-striped">
							<tr>
								<td style="width:80%">Nhận phòng</td>							
								<td>14:00</td>
							</tr>
							<tr>
								<td>Trả phòng</td>
								<td>12:00</td>
							</tr>							
						</table>
							</div>
					</div>
				</div>

				<div class="room-items mb-30 danhgia">
						<div class="title mb-24">Đánh giá</div>
						<div class="row">
							<div class="col-3">
								<div class="circle-rate">
									<div class="text">
											8,7
									</div>								
								</div>
							</div>
							<div class="col-9">
									<div class="d-none" id="sachse">5</div>
									<div class="d-none" id="thoaimai">4.3</div>
									<div class="d-none" id="doan">2</div>
									<div class="d-none" id="vitri">3</div>
									<div class="d-none" id="dichvu">1</div>
									
								<div>
									<div class="d-flex">
										<div class="col-3 ">Sạch sẽ</div>
										<div class="sachse">
											<el-rate v-model="value" disabled text-color="#ff9900"></el-rate>
										</div>
									</div>
								</div>

								<div>
									<div class="d-flex">
										<div class="col-3 ">Thoải mái</div>
										<div class="thoaimai">
												<el-rate v-model="value" disabled text-color="#ff9900"></el-rate>
										</div>
									</div>
								</div>

								<div>
									<div class="d-flex">
										<div class="col-3 ">Đồ ăn</div>
										<div class="doan">
												<el-rate v-model="value" disabled text-color="#ff9900"></el-rate>
										</div>
									</div>
								</div>

								<div>
									<div class="d-flex">
										<div class="col-3 ">Vị trí</div>
										<div class="vitri">
												<el-rate v-model="value" disabled text-color="#ff9900"></el-rate>
										</div>
									</div>
								</div>

								<div>
									<div class="d-flex">
										<div class="col-3 ">Dịch vụ</div>
										<div class="dichvu">
												<el-rate v-model="value" disabled text-color="#ff9900"></el-rate>
											</div>
									</div>
								</div>
							</div>
						</div>
						
				</div>

				<div class="room-items">
					<div class="title mb-12">Khu vực xung quanh bạn ở</div>
					<div id="map">
						
					</div>
						
				</div>
			</div>
		
			<div class="col-lg-4 col-0 d-none d-lg-block">
				<div class="slidebar">					
					<p class="gia"><span class="bold">1,100,000 VNĐ</span>/đêm</p>
					<div class="mb-24 Date">
						<div class="d-flex px-20 date boxdate">												
							<div class="date1">																
								<el-date-picker :picker-options="datePickerOptions"
								v-model="value1"				        
								format = "dd/MM/yyyy"
								type="date"
								@change="datedenChange"
								placeholder="Ngày đến">
							  </el-date-picker>						
							  </div>
							  <div class="separator">-</div>
							<div class="date2">
							  <el-date-picker :picker-options="datePickerOptions2"
							  v-model="value2":min="value1"
							  type="date"					    
							  format = "dd/MM/yyyy"
							  @change="dateveChange"
							  placeholder="Ngày về">
							</el-date-picker>
							</div>	
						</div>	
					</div>
					<div id="SlotNumber" class="mb-24">
							<el-popover
								placement="bottom"
								width="100%"
								trigger="click">
								<div class="d-flex slot-item">
									<div class="slot-text">Người lớn</div>
									<el-input-number :step="1":min="0":max="MaxNL" v-model="NguoiLon" @change="NguoiLonChange"></el-input-number>
								</div>	
								<div class="d-flex slot-item">
									<div class="slot-text">
										<div>
											Trẻ em
										</div>
										<div>
											Tuổi từ 3–12
										</div>
										</div>
									<el-input-number :step="1":min="0":max="MaxTE" v-model="TreEm" @change="TreEmChange"></el-input-number>
								</div>			
								<div class="d-flex slot-item">
										<div class="slot-text">
											<div>
												Trẻ em
											</div>
											<div>
												Dưới 3 tuổi
											</div>
											</div>
										<el-input-number :step="1":min="0":max="6" v-model="TreSoSinh" @change="TreSoSinhChange"></el-input-number>
									</div>																					
								<el-button slot="reference" value="">	
									<div class="d-flex boxroomnguoi songuoi">									
										<div class="text black" id="slot"> Số người</div>
									</div>												
								</el-button>
							</el-popover>
						</div>

					<button  class="box-apply mb-24">
						Đặt ngay
					</button>

					<div class="mb-24 line">

					</div>

					<div class="avatar frame-post">
						<img class="img" src="./images/avatar.PNG">
					</div>
					<div class="name-avatar">
						Bá Hồng
					</div>
					<div class="date-avatar">
							Tham gia 02/2019
					</div>
				</div>

			</div>
		</div>
			
		<div class="container">
				<section>
						<div class="title-section">
							<div class="title">
								<h2>Chỗ ở tương tự</h2>									
							</div>								
						</div>
						<div class="slide-5 room">																
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/Rivergate-Residence-Apartment-9.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ</div>
										<div class="room-title mb-2p">
											Home Sweet Home Landmark81
										</div>
		
		
										<div class="room mb-2p"> 
											2 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>947,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_12979_316_1564045930.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">BIỆT THỰ</div>
										<div class="room-title mb-2p">						
											FYSO HomeStay
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>450,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>								
									</a>							
							</div>
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_20736_6_1550472569.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">BIỆT THỰ</div>
										<div class="room-title mb-2p">
											Hazel's House
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>600,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 3, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_20916_182_1570596961.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ CHUNG CƯ</div>
										<div class="room-title mb-2p">						
											Masteri Thảo Điền
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 2 phòng ngủ - 2 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>1,229,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 2, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_23249_4_1554775567.jpg">
										</div>
										
										<div class="discount d-none">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">NHÀ RIÊNG</div>
										<div class="room-title mb-2p">
											Private room
										</div>
		
		
										<div class="room mb-2p"> 
											8 khách - 3 phòng ngủ - 3 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>350,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Bình Thạnh, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_27136_39_1563268810.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">NHÀ RIÊNG</div>
										<div class="room-title mb-2p">						
											Staycious Home
										</div>
		
		
										<div class="room mb-2p"> 
											2 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>400,000</span> VNĐ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 1, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	
							<div class="post">
									<a class="frame-post" href="hello">
											<div class="id-post d-none">10</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_16888_74_1552639581.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fas fa-arrow-down"></i>10%</span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ - STUDIO</div>
										<div class="room-title mb-2p">
											Soleil SaiGon
										</div>
		
		
										<div class="room mb-2p"> 
											3 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>900,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 4, Hồ Chí Minh
										</div>
		
										<div class="rate">
											<div class="rate-number d-none">4</div>
											<el-rate
											v-model="value"
											disabled
											text-color="#ff9900">
										  </el-rate>
										</div>
									</a>							
							</div> 			
							<div class="post">
									<a class="frame-post" href="hello">
										<div class="id-post d-none">12</div>
										<div class="img-frame-room mb-2p">					
											<img class="img" src="images/roomHCM/room_26457_15_1560914124.jpg">
										</div>
										
										<div class="discount">
												<span class="box-dis"><i class="fab fa-hotjar"></i></span>
										</div>
		
										<div class="kind-room-title mb-2p">CĂN HỘ</div>
										<div class="room-title mb-2p">						
											99 Bùi Viện
										</div>
		
		
										<div class="room mb-2p"> 
											4 khách - 1 phòng ngủ - 1 phòng tắm
										</div>
		
										<div class="price mb-2p">
											<span>422,000</span> đ/đêm</span> 
												
										</div>
										
										<div class="location">
											Quận 1, Hồ Chí Minh
										</div>								
									</a>							
							</div> 	 
						</div>															
							
				</section>	
		</div>

		<div class="footer mt-120">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-6 room mb-24">
						<div class="widget">
							<div class="widget-title">TOP homestay được yêu thích</div>
							<ul class="widget-menu widget-text">
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
								<li>
									<a href="#">HomeStay Đà Lạt</a>
								</li>
								<li>
									<a href="#">HomeStay Vũng Tàu</a>
								</li>
								<li>
									<a href="#">HomeStay Hà Nội</a>
								</li>
								<li>
									<a href="#">HomeStay SaPa</a>
								</li>
								<li>
									<a href="#">HomeStay Hồ Chí Minh</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Không gian ưu thích</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">Căn hộ</a>
									</li>
									<li>
										<a href="#">Biệt thự</a>
									</li>
									<li>
										<a href="#">Nhà riêng</a>
									</li>
									<li>
										<a href="#">Studio</a>
									</li>
								</ul>
							</div>
						</div> 	
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Về Chúng tôi</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">Giới thiệu</a>
									</li>
									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Chính sách và điều khoản sử dụng</a>
									</li>
									<li>
										<a href="#">Bảo mật</a>
									</li>
								</ul>
							</div>
						</div> 	
					<div class="col-xl-3 col-6 room mb-24">
							<div class="widget">
								<div class="widget-title">Đăng kí nhận tin</div>
								<ul class="widget-menu widget-text">
									<li>
										<a href="#">
											<i class="fab fa-facebook-square"></i>facebook.com/realhome
										</a>
									</li>
									<li><a href="#">
										<i class="fab fa-instagram"></i>instagram.com/realhome
									</a>     
									</li>
									<li> <a href="#">
										<i class="fas fa-phone"></i>1800 9696
										</a>      
									</li>
									<li><a href="#">
										<i class="fas fa-envelope"></i> lh.realhome@gmail.com
									</a> 
									</li>
								</ul>							
							</div>
						</div> 	
				</div>									
			</div>	
			<div class="footer-bottom">			
				<div class="title">© 2019 RealHome. Toàn bộ bản quyền thuộc RealHome</div>
			</div>		
		</div>
		

		<div class="modal fade px-0" id="Service" tabindex="-1" role="dialog" aria-labelledby="ServiceLabel"  aria-hidden="true">
				<div class="modal-dialog modal-full" role="document">
				  <div class="modal-content">
					<div class="header">								
					  <button type="button" class="close" data-dismiss="modal"><i class="fas fa-arrow-left"></i>
					  </button>
					</div>
					<div class="modal-body mt-100">
					  <div class="container">
						  <div class="d-md-flex">
						  <div class="col-6"><h2 class="is-fixed">Tiện nghi</h2></div>
						  <div class="col-6">
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
							<div class="mb-30">sdsadsadá</div>
						  </div>
						</div>
						</div>
					</div>
					
				  </div>
				</div>
			  </div>
	  
  
			  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			  
			   <!-- import Vue before Element -->
			   <script type="text/javascript" src="./element/vue.js"></script>
			   <script type="text/javascript" src="./element/index.js"></script>
			   <script type="text/javascript" src="./js/vi.js"></script>
		
			  <script type="text/javascript" src="./js/slick.min.js"></script>
			  <script type="text/javascript" src="./js/lightgallery-all.min.js"></script>
			  <script type="text/javascript" src="./js/custom.js"></script>
 
			  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCObmUDNsw4qthZE2wu2uCtNn776xy197U&callback=initMap" type="text/javascript"></script>
    </body>
</html>
